* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  height: 100vh;
  background-color: #2c2c2c;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: #88658d;
}

.background .header {
  background-color: #4d4d4d;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .header .webName {
  margin: 0 20px;
}

.background .header .nav li {
  font-size: 30px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 10px 70px;
  background-color: #2c2c2c;
}

.background .header .nav li:hover {
  background-color: #4b3950;
  cursor: pointer;
}

.background .body {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.background .body .mainBox {
  width: 50%;
  background-color: #4d4d4d;
  border-radius: 5px;
  position: relative;
  overflow-y: scroll;
}

.background .body .mainBox .pageHeader {
  height: 10vh;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background .body .mainBox .pageHeader p {
  text-align: center;
  border-radius: 5px;
  width: 300px;
  background-color: #2c2c2c;
  padding: 10px;
}

.background .body .mainBox .pageBody {
  margin: 30px;
  text-indent: 30px;
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 5px;
}

.background .body .mainBox .pageBody .signInForm {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .body .mainBox .pageBody .signInForm label, .background .body .mainBox .pageBody .signInForm .signInButton {
  text-indent: 0;
  font-size: 20px;
}

.background .body .mainBox .pageBody .signInForm a {
  text-indent: 0;
  margin-top: 10px;
}

.background .body .mainBox .pageBody .signInForm .signInInput {
  width: 200px;
  background-color: #4d4d4d;
  border-radius: 5px;
  text-align: center;
}

.background .body .mainBox .pageBody .signInForm .signInButton {
  margin-top: 10px;
  background-color: #4d4d4d;
  padding: 10px;
  border-radius: 5px;
}

.background .body .mainBox .pageBody .signInForm .signInButton:hover {
  cursor: pointer;
  background-color: #4b3950;
}

.background .body .mainBox .q {
  text-indent: 0;
}

.background .body .mainBox .q {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
}

.background .body .mainBox .post {
  width: 90%;
  margin: 30px 35px;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.background .body .mainBox .post .postHeader {
  background-color: #2c2c2c;
  font-size: 20px;
  padding: 5px;
}

.background .body .mainBox .post .postHeader:hover {
  cursor: pointer;
}

.background .body .mainBox .post .postBody {
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.background .body .mainBox .post .postBody p {
  text-indent: 30px;
}

.background .body .mainBox .post .postFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#2c2c2c));
  background: linear-gradient(rgba(255, 255, 255, 0), #2c2c2c);
}

.background .body .mainBox .post .postFooter .upvoteBtn {
  font-size: 30px;
  cursor: pointer;
}

.background .body .mainBox .post .postFooter .shareBtn {
  margin-top: 15px;
  cursor: pointer;
}

.background .body .auxBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.background .body .auxBoxes .sideBox {
  height: 200px;
  margin-left: 30px;
  background-color: #4d4d4d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .body .auxBoxes .sideBox .emailForm {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .body .auxBoxes .sideBox .emailForm #email, .background .body .auxBoxes .sideBox .emailForm #lname, .background .body .auxBoxes .sideBox .emailForm #fname {
  margin: 5px 0px;
  font-size: 15px;
  background-color: #2c2c2c;
}

.background .body .auxBoxes .sideBox .emailForm #formBtn {
  background-color: #2c2c2c;
  padding: 5px;
}

.background .body .auxBoxes .sideBox .emailForm #formBtn:hover {
  background-color: #4b3950;
  cursor: pointer;
}

.background .body .auxBoxes .ad {
  height: 450px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #4d4d4d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .body .auxBoxes .ad #ad {
  width: 80%;
  height: 90%;
  background-color: #2c2c2c;
}

.background .body .modalOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.background .body .modalOverlay .modal {
  background-color: #4d4d4d;
  height: 250px;
  width: 600px;
  border-radius: 5px;
}

.background .body .modalOverlay .modal .modalHeader {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  padding: 5px 15px;
}

.background .body .modalOverlay .modal .modalHeader #modalClose {
  margin-left: 50%;
  cursor: pointer;
}

.background .body .modalOverlay .modal .modalBody {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .body .modalOverlay .modal .modalBody .socialLink {
  margin: 0px 10px;
}

.background .body .modalOverlay.active {
  visibility: visible;
  opacity: 100%;
}

.background .footer {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(#2c2c2c, rgba(0, 0, 0, 0.3));
  font-size: 13px;
}

::-webkit-scrollbar {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #4b3950;
}

.shareOverlay {
  z-index: 3;
  height: 10vh;
}

@media screen and (max-width: 1025px) {
  .background .header {
    font-size: 30px;
  }
  .background .header .nav li {
    font-size: 25px;
    padding: 10px 45px;
  }
  .background .body .mainBox {
    width: 60%;
  }
}

@media screen and (max-width: 769px) {
  .background .header .webName {
    font-size: 30px;
  }
  .background .header .nav li {
    font-size: 20px;
    padding: 10px 30px;
  }
  .background .body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .background .body .mainBox {
    width: 80%;
  }
  .background .body .auxBoxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 550px;
  }
  .background .body .auxBoxes .sideBox {
    margin-left: 0;
    margin-top: 30px;
    width: 400px;
  }
  .background .body .auxBoxes .ad {
    width: 800px;
    height: 150px;
    margin-left: 0;
  }
}

@media screen and (max-width: 380px) {
  .background .header {
    height: 10vh;
  }
  .background .header .nav {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    height: 80vh;
    top: 0;
  }
  .background .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .background .header .nav ul li {
    font-size: 25px;
    width: 80vw;
    padding: 10px 30px;
  }
  .background .body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .background .body .mainBox {
    width: 95%;
  }
}
/*# sourceMappingURL=App.css.map */