$containerColor: rgb(77, 77, 77);
$mainColor: rgb(44, 44, 44);
$accentColor: rgb(75, 57, 80);

* {
    margin: 0;
    padding: 0;
    color: white;
}

.background {
    background-color: $mainColor;
    height: 100vh;
    .header {
        background-color: $containerColor;
        font-size: 35px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .webName {
            margin: 0 20px;
        }
        .nav {
            li {
                font-size: 30px;
                display: inline-block;
                border: 2px solid $containerColor;
                padding: 10px 70px;
                background-color: $mainColor;
            }
            li:hover {
                background-color: $accentColor;
                cursor: pointer;
            }
        }
    }
    .body {
        height: 80vh;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .mainBox {
            width: 50%;
            background-color: $containerColor;
            border-radius: 5px;
            position: relative;
            overflow-y: scroll;
            .post {
                width: 90%;
                margin: 30px 35px;
                border: 2px solid $mainColor;
                border-radius: 5px;
                box-sizing: content-box;
                 
                .postHeader {
                    background-color: $mainColor;
                    padding: 5px;
                }
                .postBody {
                    padding: 5px;
                    height: 300px;
                    overflow-y: auto;
                }
                .postFooter {

                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    background: linear-gradient(rgba(255, 255, 255, 0), $mainColor);
                    .upvoteBtn {
                        font-size: 30px;
                        cursor: pointer;
                    }
                    .shareBtn {
                        margin-top: 15px;
                        cursor: pointer;  
                    }
                }
            }
        }
        .auxBoxes {
            display: flex;
            flex-direction: column;
            width: 280px;
            .sideBox {
                height: 200px;
                margin-left: 30px;
                background-color: $containerColor;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .emailForm {
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    #email, #lname, #fname {
                        margin: 5px 0px;
                        font-size: 15px;
                        background-color: $mainColor;
                    }
                    #formBtn {
                        background-color: $mainColor;
                        padding: 5px;
                        &:hover {
                            background-color: $accentColor;
                            cursor: pointer;
                        }
                    }
                }
            }
            .ad {
                height: 450px;
                margin-left: 30px;
                margin-top: 30px;
                background-color: $containerColor;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                #ad {
                    width: 80%;
                    height: 90%;
                    background-color: $mainColor;
                }
            }
        }
    }
    .modal {
        height: 40vh;
        width: 45vw;
        left: 30%;
        top: 25%;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        z-index: 3;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        visibility: hidden;
        transition: all 0.5s;
        .modalHeader {
            width: 45vw;
            margin-left: 97%;
            margin-top: 3px;
            #modalClose {
                cursor: pointer;
            }
        }
        .modalBody {
            display: flex;
            height: 87%;
            justify-content: center;
            align-items: center;
            .socialLink {
                margin: 20px;
                padding: 10px 20px;
                background-color: $containerColor;
                border-radius: 5px;
                img {
                    margin-left: 5px;
                    height: 20px;
                }
            }
            .socialLink:hover {
                background-color: $accentColor;
                cursor: pointer;
            }
        }
        &.active {
            visibility: visible;
        }
    }
}

::-webkit-scrollbar{
    background: $mainColor;
}

::-webkit-scrollbar-thumb {
    background: $accentColor;
}

.shareOverlay {
    z-index: 3;
    height: 10vh;
}